* {
  color: rgb(240, 238, 238);
  font-family: 'Times New Roman', Times, serif;
  background: none;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

section {
  flex-direction: column;
  min-height: 10vh;
}

a {
  text-decoration: none;
}

h1 {
  color: #7d73fc;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 1px;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 137%;
  color: #fff;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #a2a3ae;
  margin: 6px;
}

p {
  font-size: 20px;
  line-height: 28px;
}

ul,
li {
  list-style-type: none;
  padding: 1px;
  text-align: left;
}

li {
  margin: 5px;
}

ul {
  margin: 10px;
}

input,
textarea {
  all: unset;
  width: 550px;
  margin-top: 39px;
  height: 30px;
  padding: 0.5em;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  background-color: #fff;
  color: rgb(20, 20, 20);
}

input[type="text"] {
  margin-top: 1px;
}

textarea {
  height: 114px;
}

input ::placeholder {
  color: #81818c;
}

body {
  background:
    #191765
    url(media/circle\ 1\ header.svg);
  background-repeat: no-repeat;
  background-position: 22em 35em;
}

button {
  all: unset;
  align-self: flex-start;
  justify-self: start;
  flex: none;
  display: flex;
  position: static;
  width: 90px;
  height: 48px;
  left: 12px;
  top: 12px;
  background: #4037be;
  margin-top: 14px;
  margin-bottom: 34px;
  margin-right: 65vw;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 200%;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #edecff;
}

h2 {
  color: #7d73fc;
  font-weight: bold;
  font-size: 48px;
  margin-top: 63px;
  margin-bottom: 1px;
}

button:hover {
  box-shadow: 1px 8px 16px rgba(125, 115, 252, 0.48);
}

.recent-work {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: #9490ff;
  padding-left: 1em;
  padding-bottom: 1em;
  text-align: left;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2em;
  height: 20vh;
  margin-bottom: 1em;
}

.footerp {
  padding-left: 580px;
}

.log-d {
  display: none;
}

.logo {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgb(240, 238, 238);
  margin: 1px;
  padding: 10px 2px;
}

.ul-footer {
  width: 80%;
}

.ul-footer > li {
  width: 100%;
}

.ul-footer > li > input {
  width: 100%;
}

.ul-footer > li > textarea {
  width: 100%;
}

.container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1px;
}

.grid {
  display: grid;
}

.body {
  flex-direction: column;
  border-bottom: 1px;
}

#menu.active {
  left: -3%;
  box-shadow: 1px 1px #4037be;
}

.menu > li {
  padding: 15px 10px;
  font-size: 40px;
}

.btn {
  position: absolute;
  left: 90%;
  top: 1.8%;
  float: left;
}

span {
  cursor: pointer;
}

.nav {
  padding: 8px 2px;
}

.section1 {
  background: url(media/circle\ 1\ header.svg);
  background-repeat: no-repeat;
  background-position: -10em top;
  margin-right: 1px;
  margin-bottom: 10px;
}

.section2 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 2px;
}

.title {
  font-size: 90%;
  font-weight: 500;
  color: #9490ff;
  margin: 20px;
  text-align: left;
}

.line {
  width: 30%;
}

.line2 {
  width: 90%;
}

.subtitle {
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 70px;
}

.close {
  text-align: end;
  width: 85%;
}

.close a {
  font-size: larger;
  font-family: monospace;
}

.menu {
  left: 620px;
  width: 100vw;
  height: 97.9vh;
  margin: 10px 10px;
  padding: 10px 10px;
  position: fixed;
  transition: all 500ms ease-in;
  background: url(./media/shapes\ mobile\ menu.svg) rgba(25, 23, 101, 1);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  top: -29px;
}

.div-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-menu {
  justify-self: right;
}

.section3 {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 2em;
  height: 10vh;
  margin-bottom: 1em;
}

.arrow {
  display: none;
}

.flex {
  display: flex;
}

.handles {
  justify-content: center;
  border-bottom: transparent;
}

.handles > * {
  width: 40px;
  margin: 1px;
  padding-top: 60px;
  text-align: center;
  min-width: min-content;
}

.section4 {
  grid-template-columns: 99%;
  grid-template-rows: min-content;
  padding-top: 60px;
  background:
    url(media/Ellipse\ 19.svg),
    url(media/ellipse4.svg),
    url(media/ellipse5.svg),
    url(media/ellipse6.svg);
  background-repeat: no-repeat;
  background-position:
    left top,
    right 25%,
    left center,
    right bottom;
}

.imagen {
  transition: all 500ms ease;
}

.imagen:hover {
  transform: scale(1.2);
}

.project {
  align-items: center;
  flex-wrap: wrap;
  border-bottom: transparent;
  background: none;
}

.languages {
  justify-content: center;
  border-bottom: transparent;
  background: none;
}

.input-name {
  display: none;
}

.options {
  display: none;
  width: 100vw;
  height: 100vh;
}

#email {
  display: none;
}

.languages > * {
  width: min-content;
  padding: 10px;
  border-right: 1px solid #646369;
}

.menu-web {
  display: none;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;
}

.input-footer {
  background-color: #fff;
  width: 327px;
  height: 48px;
  color: #000;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea-footer {
  background: #fff;
  width: 327px;
  height: 148px;
  color: #000;
}

.button-footer {
  margin: 10px 5px;
}

.footer-handles {
  width: 100%;
  height: 40px;
  left: 88px;
}

.cont-email {
  display: none;
}

@media only screen and (min-width: 480px) {
  .body {
    width: 100vw;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    background:
      #191765
      url(media/circle\ 1\ header.svg);
    background-repeat: no-repeat;
    background-position: right 20em;
  }

  .input-name {
    display: block;
  }

  .section1 {
    background: url(media/circle\ 1\ header.svg);
    background-repeat: no-repeat;
    background-position: 1em top;
    margin-right: 1px;
    margin-bottom: 10px;
  }

  .log-d {
    display: block;
  }

  .section4 {
    overflow: hidden;
    grid-template-columns: 100%;
    grid-template-rows: min-content;
    padding-top: 60px;
    background:
      url(media/Ellipse\ 19.svg),
      url(media/ellipse4.svg),
      url(media/ellipse5.svg),
      url(media/ellipse6.svg);
    background-repeat: no-repeat;
    background-position:
      left top,
      right 25%,
      left center,
      right bottom;
    display: grid;
    grid-gap: 2em;
    margin: 1px 10vw 1px 10vw;
    margin-right: 0;
    margin-left: 0;
  }

  .div-footer {
    display: flex;
    justify-content: center;
  }

  .form-footer > li > input {
    width: 685px;
  }

  .form-footer > li {
    width: 698px;
  }

  .form-footer > li > textarea {
    width: 685px;
  }

  .li-button {
    display: flex;
    justify-content: center;
  }

  .section4 > div {
    grid-column: 1/4;
  }

  .section4 > div:nth-child(odd) {
    grid-column: 1/4;
    flex-direction: row-reverse;
  }

  .footer-contact {
    display: none;
  }

  .cont-email {
    display: block;
  }

  .project {
    flex-direction: row;
  }

  .project > img {
    width: 684px;
    height: 448px;
  }

  .arrow {
    display: block;
  }

  .info {
    max-width: 448px;
    height: 405px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-left: 1em;
  }

  .info > p {
    flex: none;
    margin: 24px 0;
    margin: 1em 1px 1em 1px;
    text-align: start;
    max-width: 62vw;
  }

  .languages {
    width: min-content;
  }

  .handles > li > h4 {
    display: block;
    margin-right: 20vw;
    margin-left: 20vw;
  }

  .section3 > li > h4 {
    display: none;
    margin-right: 20vw;
    margin-left: 20vw;
  }
  
  .section2 {
    justify-content: center;
  }

  .section2 > ul {
    max-width: min-content;
  }

  #work {
    display: none;
  }

  .header {
    background-position: 2em top;
  }
}

/* modal styles */

.overal {
  background: #2f3577;
  display: none;
  justify-content: center;
  align-content: center;
  position: fixed;
  opacity: 0.95;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}

.modal {
  background: rgba(15, 1, 65, 0.16);
  border: 1px solid #fff;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  width: 85%;
  height: 90%;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  top: 1%;
}

.popup-img {
  width: 100%;
}

.modal-header {
  width: 99.8%;
  height: 15%;
}

.top-side-modal {
  align-self: flex-start;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

.top-side-modal a {
  margin-right: -80px;
  cursor: alias;
}

.modal-p {
  font-size: 16px;
  line-height: 24px;
  margin: 24px 0;
}

.modal-div-language > ul {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 95%;
}

.modal-div-language .modal-language {
  border-left: 1px rgba(255, 255, 255, 0.16) solid;
  border-right: 1px rgba(255, 255, 255, 0.16) solid;
  margin: 25px 0;
  width: 80px;
  margin-right: 3%;
  text-align: center;
}

.modal-div-sources {
  width: 95%;
  justify-content: center;
  flex-direction: column;
}

.modal-buttons {
  background: #4037be;
  margin: 25px 10px;
  border-radius: 5%;
  align-self: center;
}

.li-menu {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.li-menu p a img {
  width: 15px;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .modal {
    width: 25%;
  }

  .modal-div-sources {
    flex-direction: row;
  }
  
  .div-menu {
    display: none;
  }

  .menu-web {
    justify-content: space-between;
    position: relative;
    width: 80%;
    display: flex;
  }

  .log {
    height: 10px;
    margin: 0 50px;
    font-size: medium;
    align-self: center;
    
  }

  .list-web {
    width: 25%;
  }

  .list-web li {
    width: 50%;
    align-self: flex-start;
  }

}
